**/node_modules
*.sw[po]
*.lock
/.cargo
/dist
dist
.env
src/client/util/store
src/program-fund/target
src/program-fund/Cargo.lock
test-ledger/
programs/program-fund/target
programs/program-fund/Cargo.lock

package-lock.json
frontend/node_modules
